@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(https://images.unsplash.com/photo-1432839318976-b5c5785ce43f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*overflow: hidden;*/
}

.sub-main {
    height: 95%;
    width: 95%;
    /* background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);*/
}

.sub-main2 {
    height: 95%;
    scroll-behavior: smooth;
    margin: 1rem;
    overflow: scroll;
    scrollbar-width: none;
}

.d1 {
    display: flex;
    border: 1px solid white;
    overflow-x: hidden;
    margin: 1rem;
    align-items: center;
}

.logo {
    width: max-content;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
}

.logo img {
    padding: 0.25em;
    width: 30rem;
}

.nav {
    border: 1px solid white;

    height: 100%;

    width: max-content;
    margin-left: 22.45%;
}

.nav button {
    border-radius: 10px;
    margin: 0rem 1rem;
    padding: 0.5rem 2rem;
    font-weight: 600;
    transition: 100ms;
    background-color: rgba(6, 6, 6, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
}

.nav button:hover {
    border: none;
    color: rgba(255, 255, 255, 1);
    box-shadow: inset 155px 115px 115px rgba(0, 255, 8, 1), 0 0 15px rgba(0, 255, 8, 1);
}

.hr {
    width: 95%;
    color: white;
    margin: auto;
}

.content {
    margin: 2rem 3rem 1rem 3rem;
    height: max-content;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
}

.s1 {
    margin-top: 5rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.s1 img {
    position: relative;
    bottom: 5rem;
    width: 30rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 14px;
    -webkit-box-shadow: 0px 17px 17px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 17px 17px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 15px 20px 1px rgba(0, 0, 0, 0.75);
    transition: 100ms linear;
}

.s1 img:hover {
    width: 32rem;
}

.s1 p {
    padding: 0 10rem 4rem 10rem;
    font-size: 26px;
    color: white;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}

.s2 {
    margin-top: 2rem;
    display: flex;
    border: 1px solid white;
}

.card {
    border: 1px solid red;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

