* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./wave-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#visual {



    position: absolute;

}

.main {
    background: rgba(0, 0, 0, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
}

.d1 {
    height: 100vh;
    width: 96%;
}

.d1 img {
    box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.5);
    margin-left: 3%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 30rem;
}

.hr {
    width: 95%;
    margin: auto;
}



.d2 {
    box-shadow: -11px 0px 22px -3px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: -11px 0px 22px -3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: -11px 0px 22px -3px rgba(0, 0, 0, 0.39);
    height: 100vh;
    width: 4%;
    z-index: 10;
}

.s-logo img {
    margin-top: 1.5rem;
    margin-left: 3px;
    width: 3.6rem;
    height: 3.6rem;
}